{% extends 'base.html.twig' %}

{% block title %}A propos - Nations Sounds{% endblock %}

{% block body %}

<style>

</style>
<div id="faq">
          <h1><img src="/img/icon/faq.png"/>A Propos</h1>
<div id="background-about">
<p>
Le festival Nation Sounds est un festival qui à pour but de récolter des fonds pour une association humanitaire. 
Ce festival est organisé chaque année en région Parisienne à la plaine de jeux du Polygone par l'entreprise "Live Events".</p>
<p>
Ce lieux est un grand espace arboré, très agréable et où il fait bon faire la fête.</p>
<p>
Plusieurs centaine de personnes viennent chaque année profiter de l'ambiance du festival qui dure 3 jours (vendredi, samedi et dimanche).</p>

<p>
Durant les 3 jours du festival Nation Sounds, vous pourrez profiter de nos 5 scènes et de leur artistes aux styles musicaux très différents. </p>
<p>De l'électro, en passant par le rap, le rock, le jazz ou encore la Pop-folk, nulles doutes que vous y trouverez votre bonheur. </p>

<p>
Sur notre Festival, vous pouvez également retrouver de nombreux points de restaurations avec un important choix pour que chacun y trouve son compte. </p>

<p>Enfin, retrouvez un shop avec des goodies à l'effigie de Nation Sounds et dont les bénéfices sont reversés à l'association.</p>

        </div>
        </div>
        
{% endblock %}
