{% extends 'base.html.twig' %}

{% block title %}FAQ - Nations Sounds{% endblock %}

{% block body %}

</head>
<body>

<div id="faq">
          <h1><img src="/img/icon/faq.png"/>FAQ</h1>
          <div class="box">
                <button class="accordion">Comment puis-je me restaurer ?</button>
                    <div class="panel">
                        <p>Vous pouvez vous restaurer en vous servant des bars et minis-resaurant se trouvant partout dans le festival.
                        Vous pouvez également apporter votre propre nourriture et boisson (bouchon à retirer avant d'entrer).</p>
                    </div>
          </div>

    <div class="box">
      <button class="accordion">Où puis-je dormir à proximité ?</button>
                      <div class="panel">
                        <p>Des hôtels se trouvent à proximité du festival, 40€ la nuit en moyenne.
                        </p>      
                      </div>
    </div>

    <div class="box">
      <button class="accordion">Comment puis-je retrouver mon e-billet ?</button>
      <div class="panel">
        <p>Depuis le site ticketmaster. <br>Voici le lien d'accès, <a href="https://www.ticketmaster.fr/fr/festival" target="_blank" style="color: #fff;">cliquez ici</a></p>
      </div>
    </div>

    <div class="box">
      <button class="accordion">Quels sont les horaires du festival ?</button>
      <div class="panel">
        <p>Le festival dure pendant trois jours et est ouvert de 10 h à 00 h 00 du vendredi au dimanche soir. 
        Les horaires sont continus toutes la journée et répartie selon les 5 scènes du festival.</p>
      </div>
    </div>
</div>


<div id="background-icon">
</div>



<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
{% endblock %}
