{% extends 'base.html.twig' %}


{% block title %}Programme - Nations Sounds{% endblock %}
{% block body %}
<div id="background">
           <div class="carousel-slider" id="responsive">
                    <h1><img src="/img/icon/partenaires.png"/>Nos partenaires</h1>
                        <div class="carousel-content" data-grid='{"xl":1,"lg":1,"md":1,"sm":1}' data-pagination="true">

                            {% for partner in partners %}
                                <aside class="slide-item" style="">
                                        <img src="{{ partner.picture }}"/><p>
                                        <p>{{ partner.name }}</p>
                                </aside>
                            {% endfor %}
                        </div>
                    <button class="carousel-prev-btn"><</button>
                    <button class="carousel-next-btn">></button>
                        <div class="carousel-pagination"></div>
            </div>


           <div class="carousel-slider" id="responsive">
                    <h1><img src="/img/icon/partenaires.png"/>Nos partenaires</h1>
                        <div class="carousel-content" data-grid='{"xl":1,"lg":1,"md":1,"sm":1}' data-pagination="true">

                                <aside class="slide-item" style="">
                                        <table>
                                            <caption style="font-weight: bold; padding: 20px 0px;">Vendredi</caption>

                                                  <tr>
                                                    <th>Contact</th>
                                                    <th>Country</th>
                                                  </tr>
                                                  <tr>
                                                    <td>Maria Anders</td>
                                                    <td>Germany</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Christina Berglund</td>
                                                    <td>Sweden</td>
                                                  </tr>
                                          </table>
                                </aside>

                                <aside class="slide-item" style="">
                                        <table summary="exemple de structure d'un tableau de données 2 lignes, 2 colonnes">
                                            <caption style="font-weight: bold;">Samedi</caption>

                                                  <tr>
                                                    <th>Contact</th>
                                                    <th>Country</th>
                                                  </tr>
                                                  <tr>
                                                    <td>Maria Anders</td>
                                                    <td>Germany</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Christina Berglund</td>
                                                    <td>Sweden</td>
                                                  </tr>
                                          </table>
                                </aside>

                                <aside class="slide-item" style="">
                                        <table summary="exemple de structure d'un tableau de données 2 lignes, 2 colonnes">
                                            <caption style="font-weight: bold;">Dimanche</caption>

                                                  <tr>
                                                    <th>Company</th>
                                                    <th>Contact</th>
                                                  </tr>
                                                  <tr>
                                                    <td>Alfreds Futterkiste</td>
                                                    <td>Germany</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Berglunds snabbköp</td>
                                                    <td>Sweden</td>
                                                  </tr>
                                          </table>
                                </aside>
                        </div>
                    <button class="carousel-prev-btn"><</button>
                    <button class="carousel-next-btn">></button>
                        <div class="carousel-pagination"></div>
            </div>


           <div class="carousel-slider" id="responsive">
                    <h1><img src="/img/icon/partenaires.png"/>Nos partenaires</h1>
                        <div class="carousel-content" data-grid='{"xl":1,"lg":1,"md":1,"sm":1}' data-pagination="true">

                            {% for partner in partners %}
                                <aside class="slide-item" style="">
                                        <img src="{{ partner.picture }}"/><p>
                                        <p>{{ partner.name }}</p>
                                </aside>
                            {% endfor %}
                        </div>
                    <button class="carousel-prev-btn"><</button>
                    <button class="carousel-next-btn">></button>
                        <div class="carousel-pagination"></div>
            </div>
</div>   
{% endblock %}
