<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <link  rel="stylesheet" href="/css/header-regist.css">
        <link  rel="stylesheet" href="/css/faq/faq.css">
        <link  rel="stylesheet" href="/css/header.css">
        <link  rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <link rel="icon" type="image/png" href="/img/logos/head.png" />
    </head>
    <body>
                <header class="header-res">
                        <div class="channel-flex">
                        <a href="{{ path('index') }}" class="eechnls"><img src="/img/logos/nation_sounds.png"></a>
                        </div>
                </header>


                <header class="header-desk">
                        <div class="nav">
                                <nav>    
                                        <div class="left">
                                                <a href="{{ path('index') }}"><img src="/img/logos/nation_sounds.png" style="width: 100px;"></a>
                                        </div>
                                </nav>
                        </div>
                </header> 
<div class="container">
        {% block stylesheets %}
        {% endblock %}
 </div>

    </head>
        {% block body %}{% endblock %}
        
            <footer>
                <div class="footer-flex">
                    <div class="footer-left">            
                        <ul>
                            <li><a href="{{ path('mentions') }}">Mentions légales</a></li>
                            <li><a href="{{ path('politique') }}">Politiques de Confidentialités</a></li>
                        </ul>
                    </div>
                    <div class="footer-right">
                        <a href="https://www.facebook.com/mainsquarefestival/" target="_blank"> <img src="/img/socials/facebook.png"></a>
                        <a href="https://twitter.com/MainSquareFest?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"> <img src="/img/socials/twitter.png"></a>
                        <a href="https://www.instagram.com/mainsquarefestival/" target="_blank"> <img src="/img/socials/insta.png"></a>
                        <a href="https://www.snapchat.com/l/fr-fr/" target="_blank"> <img src="/img/socials/snapchat.png"></a>
                        <a href="https://www.youtube.com/user/UMFTV" target="_blank"> <img src="/img/socials/youtube.png"></a>
                        <a href="https://www.linkedin.com/" target="_blank"> <img src="/img/socials/linkedin.png"></a>
                    </div>
                </div>
            </footer>
            </div>
            </div>
            <div id="footer-under">
            <p>© NATIONS SOUNDS 2021</p>
            </div>
</body>