{% extends 'baseeng.html.twig' %}

{% block title %}About us - Nations Sounds{% endblock %}

{% block body %}

<style>

</style>
<div id="faq">
          <h1><img src="/img/icon/faq.png"/>About Us</h1>
<div id="background-about">
<p>
The Nation Sounds festival is a festival which aims to raise funds for a humanitarian association. 
This festival is organized every year in the Paris region at the Polygone playground by the company "Live Events".</p>
<p>
This place is a large wooded area, very pleasant and where it is good to party.</p>
<p>
Several hundred people come each year to enjoy the atmosphere of the festival which lasts 3 days (Friday, Saturday and Sunday).</p>

<p>
During the 3 days of the Nation Sounds festival, you will be able to enjoy our 5 stages and their artists with very different musical styles.</p>
<p>From electro, via rap, rock, jazz or even Pop-folk, there is no doubt that you will find your happiness there.</p>

<p>
On our Festival, you can also find many points of restoration with an important choice so that each one finds its account there.</p>

<p>Finally, find a shop with goodies bearing the image of Nation Sounds and whose profits are donated to the association.</p>

        </div>
        </div>
        
{% endblock %}
