{% extends 'baseeng.html.twig' %}

{% block title %}FAQ - Nations Sounds{% endblock %}

{% block body %}
<style>

</style>
</head>
<body>

<div id="faq">
          <h1><img src="/img/icon/faq.png"/>FAQ</h1>
          <div class="box">
                <button class="accordion">How can I eat?</button>
                    <div class="panel">
                        <p>You can eat by using the bars and mini-restaurants located throughout the festival.
                         You can also bring your own food and drink (cap to be removed before entering).</p>
                    </div>
          </div>

    <div class="box">
      <button class="accordion">Where can I sleep nearby?</button>
      <div class="panel">
                  <p> There are hotels near the festival, 40 € per night on average.</p>
      </div>
    </div>

    <div class="box">
      <button class="accordion">How can I find my e-ticket?</button>
      <div class="panel">
        <p> From the ticketmaster site. <br> Here is the access link, <a href="https://www.ticketmaster.fr/fr/festival" target="_blank" style="color: #fff;"> click here </a> </p>
      </div>
    </div>

    <div class="box">
      <button class="accordion">What are the festival hours?</button>
      <div class="panel">
        <p>The festival lasts for three days and is open from 10 a.m. to 12 a.m. Friday through Sunday evening.
         The schedules are continuous all day and distributed according to the 5 stages of the festival.</p>
      </div>
    </div>
</div>


<div id="background-icon">
</div>



<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
{% endblock %}
