{% extends 'baseeng.html.twig' %}

{% block title %}Legal notice - Nations Sounds{% endblock %}

{% block body %}

<style>



</style>
<div id="faq">
          <h1><img src="/img/icon/faq.png"/>Legal notice</h1>
<div id="background">

<div class="parragraf">
<p>Visitors can contact the team directly at info @ nationsounds. Fr, or 02 98 99 25 45.</p>

<p>In accordance with the Data Protection Act of January 6, 1978, the user has the right to access, rectify and delete data concerning him.</p>

<p>Website produced in collaboration by Paul Crappier and Louis Déprez.</p>
</div>


<div class="parragraf">
<h3>Who are we ?</h3>

<p>The interface of our website, available at https: // www .nation-sounds.fr, aims to relay essential communications from the Festival to festival-goers.</p>

<p>Each visitor, after his visit to our website, leaves information about himself. This information varies depending on the number of actions performed during its passage. As a result, it is possible that a natural person can be identified. We therefore collect and process this personal data.</p>

<p>The Vieilles Charrues association treats personal data with great respect. All personal information that you have shared or will share will be kept safe. We do not sell or transmit any data to companies, even festival partners.</p>
</div>

<div class="parragraf">

<h3>Newsletter</h3>

<p>To subscribe to the festival newsletter, you enter your email. This information is stored securely via a newsletter sending tool, in accordance with the GDPR. The sole purpose of this data retention is to send newsletters directly related to the festival. Only the team from the Vieilles Charrues festival communications office can access this data.
You can unsubscribe from the newsletter whenever you want by clicking on the "Unsubscribe" link at the bottom of each email you receive.</p>
</div>

<div class="parragraf">
<h3>Ticketing :</h3>

<p>When you wish to order tickets from our ticketing website, you are systematically redirected to the ticketing site of our partner, Digitick. For more information about the processing of data provided when purchasing a ticketing product, please consult the partner charter mentioned above.</p>
</div>

<div class="parragraf">
<h3>Moneiz, Klub and ticketing data</h3>

<p>The personal information that you provide in the inserts of the site provided for this purpose (surnames, first names, email address, telephone numbers, postal code, city, date of birth) are kept by Live events, in complete security. For more information, please see the Live events privacy policy. Only Live events and the communication department of the Nation Sounds festival can access this data.</p>
</div>

<div class="parragraf">
<h3>Sécurity</h3>

Https technology is used to encrypt online forms and ensure that every information passing between your devices and the website is kept secret. SSL certificates assure you that the pages you visit come from our site and thus help prevent fraud.</div>

<div class="parragraf">
<h3>Email confidentiality</h3>

<p>About any email sent to Festival de Nation Sounds through this site:<br>
- the secrecy of correspondence transmitted over the Internet is not guaranteed;<br>
- e-mails are stored on computer media, at least for the time necessary for the administration to provide a response or to process your request.</p>
</div>

<div class="parragraf">
<h3>Accommodation</h3>

<p>The site www .nation-sounds .fr is hosted by the company Amazon Web Services: </p>
Amazon Web Services LLC
P.O. Box 81226
Seattle, WA 98108-1226
http: // aws .amazon .com
        </div>
        </div>
        </div>
        
{% endblock %}
